{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Structure Options Globale {% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('Structures.css')}}">

    <h1 class="text-center title_edit_structure"> Activation de Structure et Options </h1>

    <div class="edit_structure_main text-center">
        <div class="flex_edit">
            {{ include('structure_main/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
        <button type="button" class="btn btn-dark">
            <a style="text-decoration: none; color:white;" href="{{ path('app_structure_main_index') }}"> précédent </a>
        </button>
    </div>
{% endblock %}
