{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Modification d'Option {% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('options.css')}}">

    <h1 class="text-center"> Modifier une option </h1>

    <div class="edit_main_option text-center">
        <div class="flex_option_edit">
            {{ include('option/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

            <a class="btn btn-dark" href="{{ path('app_option_index') }}">Précédent</a>
            {{ include('option/_delete_form.html.twig') }}

    </div>
    
{% endblock %}