{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Accueil {% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('dashboard.css')}}">

    <div>
        <img class="main_img" src="{{ asset('Ressources/background_dashboard.png') }}" alt="musculation image sport">        
    </div>


{% endblock %}