{% extends 'header_footer.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="text-center">
        <h2> Bienvenue sur l'accueil de votre pannel de gestion d'option marketing ! </h2>
    </div>
{% endblock %}
