{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Modification Utilisateur{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{asset('users.css')}}">

    <h1 class="text-center"> Modification Utilisateur </h1>

    <div class="font-size-user" style="margin:2%;">
        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a class="btn btn-dark" href="{{ path('app_user_index') }}">Précédent</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
