{% extends 'header_footer.html.twig' %}

{% block title %} Athletice Création User {% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('user.css')}}">

<div style="margin:3%;">
    <h1 class="text-center"> Création d'un utilisateur </h1>
        <div class="font-size-user">
            {{ include('user/_form.html.twig') }}
            <a class="btn btn-dark" href="{{ path('app_user_index') }}">Précédent </a>
        </div>
</div>
{% endblock %}
